<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Tzj.lost_found_system.mapper.LostMapper">
    <update id="editLost">
        update lost
        <set>
            <if test="title!=null and title!=''">
                title=#{title}
            </if>
            <if test="description!=null and description!=''">
                ,description=#{description}
            </if>
            <if test="phone!=null and phone!=''">
                ,phone=#{phone}
            </if>
            <if test="ItemPhoto!=null and ItemPhoto!=''">
                ,ItemPhoto=#{ItemPhoto}
            </if>
            <if test="statusID!=null and statusID!=''">
                ,statusID=#{statusID}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getLost" resultType="com.Tzj.lost_found_system.pojo.Lost">
        select lost.*,u.name,s.status from lost left join user u on lost.userID = u.id left join status s on s.id=lost.statusID

        <where>
            <if test="id!=null and id!=''">
                lost.id=#{id}
            </if>
            <if test="title!=null and title!=''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="description!=null and description!=''">
                and description like concat('%',#{description},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and lost.phone like concat('%',#{phone},'%')
            </if>
            <if test="userID!=null and userID!=''">
                and userID=#{userID}
            </if>
            <if test="releaseDate!=null and releaseDate!=''">
                and lost.releaseDate=#{releaseDate}
            </if>
            <if test="statusID!=null and statusID!=''">
                and lost.statusID=#{statusID}
            </if>

        </where>
            order by lost.releaseDate desc
    </select>
</mapper>